@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.orderSummary-container{
    background-color: #fff;
    margin: 10px;
    font-family: 'lexend'
}

.orderSummary-heading{
    font-size: 16px;
    padding: 5px 10px;
    background-color: #c1fec1;
    border: 1px solid #017001;
    color: #017001;
}

.orderSummary-container-item {
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0px;
    //justify-content: space-around;
}


.orderSummary-container-item img {
    width : 120px;
    height: 120px;
    object-fit: cover;
    margin: 0px 20px;
}

.orderSummary-name {
    font-size: 16px;
    width: 100%;
}

.orderSummary-container-item-blockA{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderSummary-qty{
    font-size: 14px;
    border-radius: 8px;
    padding: 0px 6px;
    margin-top: 15px;
    color: #404040;
    background-color: #d9d9d9;
}

.orderSummary-cat, 
.orderSummary-seller,
.orderSummary-delivery{
    color: #666666;
    font-size: 14px;
}

.orderSummary-container-item-blockB{
    display: flex;
    justify-content: space-between;
    width: 100%
}

.orderSummary-savedUpTo{
 font-size: 14px;
 color: #666666;
}

.orderSummary-remove{
    color: #CC0000;
    border: 1px solid #CC0000;
    width: fit-content;
    border-radius: 0px;
    padding: 0px 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: #fff;
    font-family: lexend;
}

.orderSummary-remove:hover {
    background-color: #CC0000;
    color: #fff;
}

.orderSummary-price {
    font-size: 18px;
    margin: 5px 0px
}

.orderSummary-delivery span{
    color: #666666;
}

.orderSummary-blockB-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
}

.orderSummary-remove{
    margin-left: auto;
    padding: 0px 5px
}

@media screen and (width <= 980px) {
    .orderSummary-qty{
        font-size: 16px;
        border-radius: 8px;
        padding: 0px 6px;
        margin-top: 15px;
        color: #404040;
        background-color: #d9d9d9;
    }

    .orderSummary-savedUpTo{
        font-size: 12px;
    }
       
    .orderSummary-container{
        margin: 5px 10px;
    }

    .orderSummary-delivery span{
        display: block;
    }

    .orderSummary-name {
        font-size: 16px;
        width: 100%;
    }

    .orderSummary-cat,
    .orderSummary-seller,
    .orderSummary-delivery{
        font-size: 12px;
    }

    .orderSummary-container img{
        width: 100px; 
        height: 100px;
        margin: 0px 25px;
    }

    .orderSummary-heading{
        font-size: 18px;
    }

    .orderSummary-container-item{
        padding: 10px 0px;
    }
    
}

@media screen and (width <= 550px) {
    .orderSummary-heading{
        font-size: 16px;
    }
    
    .orderSummary-container-item img {
        margin: 5px 20px;
    }

    .orderSummary-price {
        margin: 2px 0px
    }

    .orderSummary-container-item{
        padding: 10px 0px;
    }

    .orderSummary-cat, 
    .orderSummary-seller,
    .orderSummary-remove,
    .orderSummary-delivery {
        font-size: 12px;
    }

    .orderSummary-name{
        //border: 1px solid ;
        width: 95%;
    }
    .orderSummary-price,
    .orderSummary-name, 
    .orderSummary-qty {
        font-size: 14px;
    }

    .orderSummary-container-item-blockB{
        flex-direction: column;
        justify-content: space-between;
        text-align: left
    }

    .orderSummary-delivery{
        text-align: right;
        padding: 0px 10px;
        //padding-right: 5px;
        //border: 1px solid;
    }

    .orderSummary-qty{
        margin-top: 5px;
        font-size: 14px;
    }
    
    .orderSummary-remove{
        margin: 0
    }

}