.customerDetails-container {
    background-color: #fff;
    margin: 10px;
    font-family: 'lexend';
}

.customerDetails-heading{
    font-size: 16px;
    padding: 5px 10px;
}

.customerDetails-header{
    width: 150px;
    display: inline-block;
    font-size: 18px;
}

.customerDetails-details p{
    font-size: 16px;
    padding: 2px 12px;
}
/* .customerDetails-container div{
    padding: 12px 10px;
} */

/* .customerDetails-container input{
    font-family: 'lexend';
    border: none;
    outline: 1px solid  #808080;
    border-radius: 2px;
    font-size: 18px;
    padding: 0px 4px;
} */

.customerDetails-container button,
.customerDetails-container input[type='submit'] {
    margin: 8px 12px 8px auto;
    font-family: 'Lexend';
    background-color: #d2042d;
    color: #fff;
    width: 100px;
    font-size: 14px;
    border: none;
    padding: 2px;
    border: 2px solid transparent;
    transition: 
        background-color 0.5s, 
        color 0.5s, 
        border-color 0.5s, 
        transform 0.5s,
        box-shadow 0.5s,
        font-weight 0.5s,
}

.customerDetails-container button:hover,
.customerDetails-container input[type='submit']:hover {
    /* position: absolute; */
    background-color: #fff;
    color: #d2042d;
    border-color: #d2042d;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
    /* transform: scale(1.1) */
}





.customerDetails-detailsInput input{
    border: none;
    font-family: lexend;
    font-size: 16px;
    padding: 0px;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%
}

.customerDetails-detailsInput div{
    border: 1px solid #708f8c;
    //border-radius: 5px;
    width: 40%;
    color: #708f8c;
    margin: 5px 12px;
    font-size: 12px;
    padding: 2px 4px;
    font-weight: 300;  
}

/* padding: 6px 8px;
border: 1px solid #e6e6e6;
background-color: #fff;
width: 82%;
margin: 10px;
border-radius: 5px;
color: #595959; */
.customerDetails-detailsInput input:focus{
    outline: none;
}

/* .customerDetails-container span{
    font-size: 16px;
} */

@media screen and (width <= 980px){
    .customerDetails-heading{
        font-size: 18px;
        padding: 5px 10px;
        margin-bottom: 6px;
    }

    .customerDetails-header{
        width: 100px;
        display: inline-block;
        font-size: 16px
    }

    /* .customerDetails-container div{
        padding: 5px 10px;
    } */

    .customerDetails-container button{
        padding: 4px;
        width: 80px;
        font-size: 16px
    }

    .customerDetails-container input{
        //font-size: 16px;
        padding: 1px 4px;
    }

    .customerDetails-container span{
        font-size: 16px;
    }

    .customerDetails-detailsInput div{
        width: 50%;
    }

}

@media screen and (width <= 550px){
    .customerDetails-header,
    .customerDetails-details p{
        font-size: 14px
    }
    
    .customerDetails-header{
        width: 85px;
    }
    
    /* .customerDetails-container input{
        padding: 1px 4px;
        font-size: 14px;
    } */

    .customerDetails-heading{
        font-size: 16px;
    }

    .customerDetails-detailsInput div{
        width: 70%;
    }

    .customerDetails-detailsInput input{
        font-size: 14px;
        padding: 0px;
    }

    .customerDetails-container button{
        font-size: 14px;
    }
}