/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Martian+Mono&family=Mooli&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    //padding-right: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #d6e0f5;
    height: 10vh;
    width: 100%;
}

.item{
    margin: 40px;
    border-bottom: 2px soild black;
    font-family: 'Mooli', sans-serif;
    font-weight: bold;
    color: #0f1e3e;
    cursor: pointer;
}

.item:hover{
    color: #e60000;
}


@media screen and (max-width: 780px){
    /* header{
        height: 10vh;
    } 
}

@media screen and (max-width: 560px){
    /* header{
        height: 40px;
    } 

    .item{
        margin: 10px;
        font-size: 14px;
    }
} */
/* body {
    margin: 0;
  }
   */
header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Lexend;
}

header a {
    margin: 0px 30px;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    font-size: 16px;
    text-decoration:none;
    transition: background-color 0.5s
}

header a:hover {
    background-color: #960320;
}

@media (max-width: 998px) {

    header {
        justify-content: center;
    }
    
    header a {
        margin: 0px 10px;
        font-size: 14px;
        width: 120px;
        text-align: center;
    }
    

        
}