/* 

*{
    margin:0;
    padding:0;
    text-decoration:none;
}

.poster{
    position: relative;
    width: 100%;
    height: 100%;
}

.poster img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.banner{
    display: block;
    height: 90vh;
    filter: brightness(40%)
}

.info-container{
    position: absolute;
    top:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster-brand{
    display: inline-block;
    background-color: #cc0000;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 60px;
    font-size: 48px;
    font-family: 'Martian Mono', monospace;
}


.btn-shop {
    margin-top: 100px;
    padding: 5px 15px;
    font-size: 26px;
    color: white;
    font-family: 'Montserrat', sans-serif; 
    border-radius: 25px;
    cursor: pointer;
    background: linear-gradient(146deg, rgba(19,78,94,1) 0%, rgba(113,178,128,1) 97%);
}

.poster-motive{
    text-align: center;
    margin: 5px ;
    color: white;
    font-family: 'Young Serif', serif;
}

.poster-disclaimer{
    margin-top: 90px;
    text-align: center;
    padding: 5px 40px;
    color: white;
    font-family: 'Comfortaa', cursive;
}



@media screen and (max-width: 760px){
    .poster-brand{
        font-size: 32px;
    }

    .poster-motive{
        font-size: 14px;
    }

    .poster-disclaimer{
        font-size: 12px;
    }

    .btn-shop{
        font-size: 24px;
    }
    
}

@media screen and (max-width: 560px){
    .poster-brand{
        font-size: 26px;
    }

    .poster-motive{
        font-size: 12px;
    }

    .poster-disclaimer{
        font-size: 12px;
    }

    .btn-shop{
        font-size: 22px;
        
    }
} */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Fira+Sans:wght@300&family=Martian+Mono&family=Montserrat&family=Mooli&family=Young+Serif&display=swap');

.poster-container {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Lexend;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

.poster-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    filter: brightness(30%);
    z-index: -1;
}

.poster-brand {
    background: linear-gradient(130deg, rgba(210,4,45,1) 45%, rgba(222,49,99,1) 78%);
    color: white;
    padding: 10px;
    width: fit-content;
    border-radius: 6px;
    /* margin-top: 60px; */
    font-size: 32px;
    font-family: 'Martian Mono', monospace;
}

.poster-motive {
    text-align: center;
    margin: 5px ;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.poster-disclaimer {
    text-align: center;
    padding: 5px 40px;
    color: white;
    font-weight: 200;
}

.poster-container a {
    background: rgba(222,49,99,1);
    text-decoration:none;
    color: #fff;
    font-weight: 300;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    border: 1px solid transparent;
    transition: background-color 0.5s, color 0.5s, font-weight 0.5s, transform 0.3s;

}

.poster-container a:hover {
    background-color: #fff;
    color: rgba(222,49,99,1);
    font-weight: 500;
    transform: scale(1.1);
}

@media (max-width: 998px)  {
    .poster-brand {
        font-size: 20px;
    }

    .poster-motive, .poster-disclaimer { 
        font-size: 12px
    }

    .poster-container a {
        font-size: 14px;
        width: 70px;
    }
}