@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@100;300&display=swap');


.productView-container{
    margin-top: 130px;
    display: grid;
    grid-template-columns: 45% 55%;
    //border: 1px solid;
}

.productView-image-block{
    padding: 10px;
    //border: 1px solid;
}

.productView-image-block img{
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.productView-details-block{
    //border: 1px solid;
    padding: 5px;
    font-weight: 300;
    font-family: 'lexend';
}

.productView-details-block h2{
    font-size: 24px;
}

.productView-discountPercentage {
    font-size: 14px;
    margin-top: 5px;
    font-weight: 400;
    color:  #9f2089;
    font-family: lexend;
}

.productView-details{
    font-family: lexend;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}

.productView-inStock{
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    color: #007600;
    margin-top: 5px;
}

.productView-rating{
    //font-weight: bold;
    font-size: 16px;
    margin: 10px 0px;
    font-weight: 400;
}

.productView-dealOfDay{
    padding: 5px;
    background-color: #cc0c39;
    font-size: 14px;
    color: #fff;
    width: fit-content;
    //border-radius: 5px;
    margin-top: 5px;
}

.productView-price{
    margin-top: 0px;
    font-size: 24px;
    font-weight: 400;
}

.productView-actualPrice{
    color: grey;
    font-size: 24px;
    text-decoration: line-through;
    text-decoration-color: #e60000;
}

.productView-details-name{
    font-size: 24px;
    font-weight: 400;
    //color: #404040;
}

.productView-addToCart-btn, .productView-buy-btn{
    text-align: center;
    padding: 8px;
    color:  rgb(210,4,45);
    font-size: 16px;
    margin: 15px 5px;
    border-radius: 5px;
    font-weight: bold;
    font-family: lexend;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

 /* .productView-buy-btn:hover{
    background-color: #cc0000;
} */

/*
.productView-addToCart-btn:hover{
    border-color: #fb641b;
    color: #fb641b
} */

.productView-buy-btn {
    background-color: rgb(210,4,45);
    border: none;
    color: #fff;
    border-radius: 0px;
    font-weight: 400;
}

.productView-addToCart-btn {
    border: 2px solid rgb(210,4,45);
    color: #cc0000;
    background-color: #fff;
    border-radius: 0px;
    font-weight: 400;
}

.producView-detailsGrids{
    display: grid;
    grid-template-columns: 100%;
    margin: 5px 0px;
}

.productView-detailsGrid-2{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: lexend;
}

.productView-detailsGrid-2 div{
    background-color: #f2f2f2;
    padding: 5px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    //width: 250px;
}

.productsInfo { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    //border: 1px solid;
    text-align: center;
    font-weight: 400;
    width: 100px;
    margin-top: 10px;
    font-size: 12px;
}


.productView-QtyController div {
    width: 18px;
    height: 22px;
    //border-radius: 3px;
    margin: 0px 5px;
    border: 1px solid #cccccc;
  }
  
.productView-QtyBlock {
    display: flex;
    margin-top: 6px;
  }
  
  
.productView-Qty {
    margin-right: 10px;
    background-color: #e6e6e6;
    font-size: 16px;
    font-weight: 400;
    //font-weight: bold;
    padding: 3px 10px;
    border-radius: 3px;
    //box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.productView-QtyBlock button {
    font-family: lexend;
    border: none;
    font-size: 20px;
    color: #000;
    background-color: #e6e6e6;
    width: 20px;
    //height: 20px;
    font-weight: 600;
    
    //height: 20px;
    //border-radius: 2px;
    //box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      //rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
  
.productView-QtyBlock button:hover {
      background-color: #c6c6c6;
}
  
.productView-QtyController {
    display: flex;
    //justify-content: center;
    align-items: center;
    cursor: pointer;
}

.productView-QtyData {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: lexend;
  }
  
  .productView-buy-btn:hover{
    background-color: #af1d46;
    /* color: #737373; */
    /* font-weight: 600; */
    
  }

  .productView-addToCart-btn:hover {
    background-color: rgb(210,4,45);
    border-color: rgb(210,4,45);
    color: #fff
  }
/* @media screen and (max-width: 1323px) {
    .productView-container{
        margin-top: 110px
    }
} */

@media screen and (max-width: 998px) {
    .productView-container{
        margin-top: 154px;
        grid-template-columns: 55% 45%;
    }

    .productView-details-block h2{
        font-size: 20px;
    }
    
    .productView-addToCart-btn, .productView-buy-btn{
        font-size: 16px;
        padding: 8px;
    }

    /* .producView-detailsGrids{
        grid-template-columns: 100%
    } */
}

@media screen and (max-width: 578px) {

    .productView-QtyBlock button {
        font-size: 16px;
    }

    .productView-QtyController div {
        width: 18px;
        height: 18px;
        font-size: 16px;
      }

    .productView-Qty {
        font-size: 16px;
        padding: 1px 5px;
        border-radius: 3px;
    }

    .productView-container{
        /* margin-top: 155px; */
        grid-template-columns: 100%
    }

    .productView-details-block h2{
        font-size: 18px;
    }
    
    .productView-addToCart-btn, .productView-buy-btn{
        font-size: 16px;
        padding: 6px;
    }

    .productView-image-block img{
        height: 300px
    }

    .productView-details{
        font-size: 14px;
    }

    .productView-addToCart-btn{
       
    }

    .productsInfo{
        font-size: 10px;
    }
}