@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Martian+Mono&family=Mooli&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    //padding-right: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #d6e0f5;
    height: 70px;
    width: 100%;
}

.item{
    margin: 40px;
    border-bottom: 2px soild black;
    font-family: 'Mooli', sans-serif;
    font-weight: bold;
    color: #0f1e3e;
    cursor: pointer;
}

.item:hover{
    color: #e60000;
}


@media screen and (max-width: 780px){
    header{
        height: 50px;
    }
}

@media screen and (max-width: 560px){
    header{
        height: 40px;
    }

    .item{
        margin: 10px;
        font-size: 14px;
    }
}