
.addToCart-container {
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
}

.addToCart-cardBlock {
    width: 70%;
    height: 79%;
    margin-top: auto;
    /* background-color: red; */
}

.addToCart-cardDetails {
    width: 30%;
    height: 79%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    /* background-color: black; */
}

.addToCart-selectedItems {
    font-family: Lexend;
    color: #067c62;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;
}

.addToCart-amount {
    color: #067c62;
    font-size: 20px;
    font-family: Lexend;
}

.addToCart-placeOrderBtn {
    margin: 10px;
    font-size: 18px;
    background-color: #d2042d;
    padding: 4px 30px;
    color: #fff;
    border: none;
    font-family: Lexend;
}

.addToCart-product {
    /* border: 1px solid; */
    width: 90%;
    font-family: Lexend;
}

.addToCart-noCartBlock {
    display: flex;
    flex-direction: column;
    padding-top: 240px;
    width: 100%;
    align-items: center;
    font-family: Lexend;
}

.addToCart-noCartBlock div:first-child {
    font-size: 24px;
    color: #ed91ab;
}

.addToCart-noCartBlock div:last-child {
    font-size: 16px;
    color: #fff;
    background-color: #de3163;
    margin-top: 20px;
    padding: 5px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    cursor: pointer;
    font-weight: 300;
    transition: 
        background-color 0.5s, 
        color 0.5s, 
        border-color 0.5s, 
        transform 0.5s,
        box-shadow 0.5s,
        font-weight 0.5s,
}

.addToCart-noCartBlock div:last-child:hover {
    background-color: #fff;
    color: #de3163;
    border-color: #de3163;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
    font-weight: 500;
}

@media (max-width: 998px) {
    .addToCart-noCartBlock div:first-child {
        font-size: 20px;
    }
    
    .addToCart-noCartBlock div:last-child {
        font-size: 14px;
        padding: 2px 10px;
    }
        
    .addToCart-container {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 170px; 
        height: calc(100vh - 155px);
    }

    .addToCart-cardBlock {
        width: 100%;
        height: 80%;
        /* padding-bottom: 20px; */
        /* margin-top: 30px; */
        /* background-color: red; */
    }
    
    .addToCart-cardDetails {
        /* position: absolute; */
        bottom: 0px !important;
        margin: auto;
        width: 94%;
        left: 50%;
        z-index: 4;
        /* transform: translateX(-50%); */
        background-color: #fff;
        height: 20%;
        border-radius: 12px 12px 0px 0px;
        margin-top: 0px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .35)
        /* background-color: black; */
    }

    .addToCart-product {
        display: none;
    }
    
    .addToCart-detailsBlock {
        display: flex; 
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .addToCart-amount {
        font-size: 14px;
    }

    .addToCart-selectedItems {
        /* display: none; */
        margin-bottom: 10px;
        margin-right: auto;
        font-size: 12px;
        margin-top: 8px;
        /* width: 100px; */
    }

    .addToCart-placeOrderBtn {
        font-size: 14px;
        padding: 4px 10px;
    }
    
}