.carousel-container{
    margin-top: 0px
}

.carousel-container img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}


@media screen and (max-width: 1184px) {
    .carousel-container img{
        height: 350px;
     }
}

@media screen and (max-width: 768px) {
    .carousel-container img{
        height: 250px;
     }
}

@media screen and (max-width: 450px) {
    .carousel-container img{
        height: 170px;
     }
     .carousel-container{
        margin-top: 0px;
     }

}
/* 
@media screen and (max-width: 468px) {
    .carousel-container img{
        height: 150px;
     } */
    