@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Open+Sans&family=Roboto:wght@100;300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

section{
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.grid{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    gap: 60px;
    justify-content: center;
    padding: 10px;
}

.product{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    border: 3px solid #fff
}

.product:hover{
    border: 3px solid #adc0eb
}

.product img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px
}

.product-name{
    padding: 0px 10px;
    text-align: center;
    font-family: lexend;
    font-size: 18px;
    margin-top: 5px;
    font-weight: 400;
    //color: #404040;
}

.price-and-buy-button{
    margin-top: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    //border: 1px solid;
}

.price{
    font-family: lexend;
    font-size: 22px;
    color: #333;
    //font-weight: bold;
    //cursor: pointer;
}

.actual-price{
    font-size: 12px;
    margin-right: 5px;
    color: #a6a6a6;
    text-decoration: line-through;
    text-decoration-color: #e60000;
}

.product-view-btn p{
  display: flex;
  align-items: center;
  background-color: #ffd814;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  //font-size: 14px;
}

.product-view-btn p:hover{
    background-color: #ffa41c
}
.product-view-btn-icon{
    color: #000033;
    margin: 3px 2px 0px 0px;
}

.product-view-btn-name{
    color: #000033;
    font-size: 16px;
    font-family: Montserrat;;
}

@media screen and (max-width: 1323px) {
  .grid{
        grid-template-columns: 220px 220px 220px 220px;
        gap: 20px;
    }

    .product-view-btn-name{
        font-size: 12px;
        //margin-left: 5px;
    }
    
}

@media screen and (max-width: 950px) {
    section{
        margin-top: 8px;
    }

    .grid{
        grid-template-columns: 150px 150px 150px;
        gap: 50px;
    }

    .product{

    }

    .product-name{
        font-size: 14px;
    }
    
    .product img{
        height: 150px;
    }  

    .price-and-buy-button{
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    .product-view-btn{
        /* margin-top: 15px; */
        /* width; */
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    .product-view-btn-icon{
        //border: 1px solid;
        //margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
    }

    .product-view-btn-name{
        font-size: 13px;
        //border: 1px solid;
    }
    
    .price{
        font-size: 16px;
    }
    
    .actual-price{
        font-size: 11px;
    }
    
}

@media screen and (max-width: 578px) {
    section{
        margin-top: 54px;
    }

    .grid{
        grid-template-columns: 150px 150px;
        gap: 50px;
    }

    .product-view-btn{
        display: none;
    }
}